<div class="container mt-50 horizontal-cente">
  <form [formGroup]="saleForm" (ngSubmit)="onFormSubmit()">
    <div class="form-row">
      <div class="form-group">
        <label for="productName">Producto</label>
        <input
          type="text"
          class="form-control"
          id="productName"
          placeholder="Name"
          formControlName="productName"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="clientName">Nombre Cliente</label>
        <input
          type="text"
          class="form-control"
          id="clientName"
          placeholder="Name"
          formControlName="clientName"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <br />
        <label for="productName">Producto</label>
        <select
          formControlName="productName"
          class="form-select"
          aria-label="Default select example"
          id="productName"
          name="product"
        >
          <option value="">Select</option>

          <option *ngFor="let product of allProducts" [ngValue]="product">
            {{ product.productName }}
          </option>
        </select>
      </div>
    </div>

    <!-- <div class="form-row">
      <div class="form-group">
        <br />
        <label for="clientName">Nombre de Cliente</label>
        <select class="form-control" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option *ngFor="let client of allClients" [ngValue]="client">
            {{ client.clientName }}
          </option>
        </select>

        <input
          type="text"
          class="form-control"
          id="clientName"
          placeholder="Name"
          formControlName="clientName"
        />
      </div>
    </div> -->

    <div class="form-row">
      <div class="form-group">
        <label for="quantity">Cantidad</label>
        <input
          type="text"
          class="form-control"
          id="quantity"
          placeholder="Name"
          formControlName="saleQuantity"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="inputUnitvalue">Valor Unitario</label>
        <input
          type="text"
          class="form-control"
          id="inputUnitvalue"
          placeholder="valor unitario"
          formControlName="productUnitvalue"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="inputUnitvalue">Valor total</label>
        <p></p>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!saleForm.valid">
      Guardar
    </button>
    <button type="reset" class="btn btn-primary" (click)="resetForm()">
      Reset
    </button>
    <span>
      <p *ngIf="dataSaved">
        {{ message }}
      </p></span
    >

    <div class="row">
      <table class="table table-striped btn-margin-bot">
        <tr>
          <td>Id</td>
          <td>Producto</td>
          <td>Nombre del cliente</td>
          <td>Cantidad</td>
          <td>Valor unitario</td>
          <td>Valor total</td>

          <td>Edit</td>
          <td>Delete</td>
        </tr>

        <tr *ngFor="let sale of allSales | async">
          <td>{{ sale.saleId }}</td>
          <td>{{ sale.productName }}</td>
          <td>{{ sale.clientName }}</td>
          <td>{{ sale.saleQuantity }}</td>
          <td>{{ sale.productUnitvalue }}</td>
          <td>{{ sale.saleQuantity * sale.productUnitvalue }}</td>
          <td>
            <a (click)="loadSaleToEdit(sale.saleId)" class="btn btn-warning"
              >Edit</a
            >
          </td>
          <td>
            <a (click)="deleteSale(sale.saleId)" class="btn btn-danger"
              >Delete</a
            >
          </td>
        </tr>
      </table>
    </div>
  </form>
</div>
