<h2>Venta de productos</h2>

<div class="client-form">
  <form [formGroup]="saleForm" (ngSubmit)="onFormSubmit()">
    <div class="row mb-3">
      <label for="inputClient" class="col-sm-2 col-form-label"
        >Nombre de Cliente</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="inputClient"
          formControlName="clientName"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputProductName" class="col-sm-2 col-form-label"
        >Nombre de Producto</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="inputProductName"
          formControlName="productName"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputProductValue" class="col-sm-2 col-form-label"
        >Valor unitario</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="inputProductValue"
          formControlName="productUnitvalue"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputProductQuantity" class="col-sm-2 col-form-label"
        >Cantidad</label
      >
      <div class="col-sm-10">
        <input
          type="number"
          class="form-control"
          id="inputProductQuantity"
          min="1"
          formControlName="saleQuantity"
        />
      </div>
    </div>

    <button
      type="reset"
      class="btn btn-secondary btn-margin-bot"
      (click)="resetForm()"
    >
      Reset
    </button>

    <button
      type="submit"
      class="btn btn-primary btn-margin-bot btn-margin-left"
      [disabled]="!saleForm.valid"
    >
      Guardar
    </button>

    <div class="table-result">
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre cliente</th>
            <th scope="col">Nombre producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Valor unitario</th>
            <th scope="col">Valor total</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sale of allSales | async">
            <td>{{ sale.saleId }}</td>
            <td>{{ sale.productName }}</td>
            <td>{{ sale.clientName }}</td>
            <td>{{ sale.saleQuantity }}</td>
            <td>{{ sale.productUnitvalue }}</td>
            <td>{{ sale.saleQuantity * sale.productUnitvalue }}</td>
            <td>
              <a (click)="loadSaleToEdit(sale.saleId)" class="btn btn-warning">
                <i class="fas fa-edit"></i>
              </a>
            </td>
            <td>
              <a (click)="deleteSale(sale.saleId)" class="btn btn-danger">
                <i class="fas fa-trash-alt"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
